@import url (https://necolas.github.io/normalize.css/8.0.1/normalize.css)

html {color: #ECEBE4;
  background-color: #4F5940;}

/* ! Basic Style */
html {
  color: #F2EADF;
  background-color: #4F5940;}

body {
  font-family: 'Red Hat Display', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;}

/*Colors*/
 .gold {color: #BF935E;}
 .orange {color: #F26835;}
 .black {color: #022619;}
 .green {color: #4F5940;}
 .white {color: #F2EADF;}

/*Fonts and Buttons*/
h1 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;}

h2 {
  font-size: 25px;
  font-weight: 900;
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
  padding-top: 25px}

h3 {
    font-size: 12px;
    font-weight: lighter;
    color: #F2EADF;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 20px;
    margin: 20px;
    display: inline-block;}

p {
  font-size: 20px;
  font-weight: 400;
  color: #F2EADF;
  margin-top: 25px;}

button {
  font-size: 20px;
  margin-top: 75px;
  margin-bottom: 100px;
  width: 180px;
  height: 60px;}

.goldbutton
  {padding: 9px 25px;
  background-color: #BF935E;
  color: #F2EADF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;}

.goldbutton:hover {
  background-color: #F26835;}

.golddark:hover {
  background-color: rgba(0,136,169,0.8);}

.orangebutton
  {padding: 9px 25px;
  background-color: #F26835;
  color: #F2EADF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s}

.orangebutton:hover {
  background-color: #BF935E;}


/*Language-menu button*/
.lang-menu {
  border-radius: 4px;
  position: absolute;
  right: 50px; top: 0;
  background-color:#BF935E;
  color: #ECEBE4;
  padding: 6px}

.selected-lang {
  cursor: pointer;}

.lang-menu ul {
  margin:0px;
  padding: 0;
  background-color: #BF935E;
  box-shadow: 0px 1px 10px rgba(191,147,94,0.2);
  border-radius: 4px;
  display: none;
  position: absolute;
  top: 0;
  right: 0}

.lang-menu:hover ul{
  display: block;
  border-radius: 4px}

.lang-menu ul li {
  list-style: none; }

.lang-menu ul li a {
  display: block;
  width: 85;
  padding:5px;
  color:#ECEBE4}

.lang-menu ul li a:hover {background-color: #F26835 }

a {text-decoration: none;}

/*Scroll-to-top button*/
.menuicon {color: #BF935E;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 95vh;
  right: 6.8%;
  z-index: 1}

.menuicon:hover {color: #F26835 }


/*Basic Menu*/
/*Basic headline*/
menu {display: inline-grid;}

.menu {text-align: center;}

.titletext {
  padding-top: 150px;
  padding-bottom: 25px;
  font-weight: bolder;
  text-align: center;}

.headline {
  background: url('images/Sfondo granuloso.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 80px 50px;
  height: 65vh;}

ul{padding-inline-start: 0px;}

.logo {width: 200px; height: auto;}

.menu .nav__links li {display: inline-block; padding-top: 0; padding-left: 0;}
.nav__links li a {transition: all 0.3s ease 0s;}
.nav__links li a:hover {color: #F26835;}
.nav__links a {text-decoration: none; color: #F2EADF; margin: 18px;}

.icons {width: 200px; text-align: right; transition: all  0.3s ease 0s; padding-top: 15px; padding-left: 25px;}
.icons i {padding-bottom: 80px; transition: all  0.3s ease 0s;}
.icons i:hover {color: #F26835;}
.icons a {color: #ECEBE4}

/*Basic Main*/
main{text-align: left;}

main a:hover {color: #F26835;}

img {max-width: 100%;}

section {height: 100%;}

.sec1, .sec2, .sec3, .sec4  {
  height: 100%;
  display: flex;
  justify-content: space-evenly;}

.sec1, .sec3 {
  background: url('images/Sfondo chiaro granuloso.png') no-repeat center center;
  background-size: cover;}

.sec2, .sec4 {
  background: url('images/Sfondo granuloso.png') no-repeat center center;
  height: 100%}

.text1, .text3 {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 75px;
    padding-left: 150px;
    padding-right: 50px;}

.text2, .text4 {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 75px;
    padding-left: 50px;
    padding-right: 150px;}

.image1 {background: url('images/music.jpg') no-repeat 100% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}
.image2 {background: url('images/band.png') no-repeat 0% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}

.imageband1 {background: url('images/band.png') no-repeat 100% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}
.imageband2 {background: url('images/00gotti.jpeg') no-repeat 0% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}
.imageband3 {background: url('images/00ermes.jpeg') no-repeat 100% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}
.imageband4 {background: url('images/00max.jpeg') no-repeat 0% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}

.image3 {background: url('images/sfondo.jpg') no-repeat 340% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}


/* Basic Footer */
footer {
  background-color: #BF935E;
  text-align: center;
  max-width: 100%;
  text-align: center;}
footer i {color: #ECEBE4; transition: all  0.3s ease 0s;}
footer i:hover {color: #F26835}

/*PAGES*/
/*HOMEPAGE*/
header {
  background: linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0, 0.5)),
   url('images/band2.png') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
   width: 100%}

.homeheadline {
   display: flex;
   justify-content: space-between;
   padding: 80px 50px;
   height: 100vh}

.news, .gallery {
  text-align: center;
  padding: 75px 150px}

.news {
  background: linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0, 0.4)),url('images/Sfondo granuloso.png') no-repeat center center;
  height: 100%}

.gallery {
  background: url('images/Sfondo chiaro granuloso.png') no-repeat center center;
  background-size: cover}

/*Slider Gallery*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ECEBE4;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #F26835;
}

/* Caption text */
.text {
  color: #ECEBE4;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #ECEBE4;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Red Hat Display', sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #BF935E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F26835;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.homefooter{
  background-color: #4F5940;
  max-width: 100%;
  text-align: center;}

footer i {
  color: #ECEBE4;
  transition: all  0.3s ease 0s;}

footer i:hover {color: #F26835}




/*BANDPAGE*/
  .instrumentermes {margin: 0; color: #4F5940;}


/* MUSICPAGE */
/*Songlist*/

.songlist {background: url('images/Sfondo granuloso.png') no-repeat center center;
 height: 100%; padding: 100px 17.5%;}
.songlist .orangebutton {margin-top: 0px; margin-bottom: 75px}
.accordion{
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #4F5940;
  align-content:
  }

.accordion__label, .accordion__content {
  padding: 25px 0px;
  }


.accordion__label {
  display: block;
  color: #F2EADF;
  cursor: pointer;
  position: relative;
}
.accordion__label:hover {color: #F26835;}
.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%);
  width: 10px;
  height: 5px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #4F5940;
  display: none;
  text-align: center;}

.accordion__input {
display: none;}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translate(-50%) rotate(0.5turn);}

  /*Lyrics*/
  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(242,104,53); /* Black fallback color */
    background-color: rgba(242,104,53, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #F2EADF;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #F26835;
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  audio {padding-bottom: 50px}

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
/*EVENTS PAGE*/
table {

  color: #4F5940;
  line-height: 3;
  width: 100%;
  padding-top: 75px;
  padding-left: 15%;
  padding-right: 22.5%;
  border-collapse: separate;
    text-indent: initial;
    border-spacing: 0px;
}

.eventtitle {text-transform: uppercase; font-size: 20px;}
.eventlist {background: url('images/Sfondo chiaro granuloso.png') no-repeat center center;
background-size: cover;
text-align: center; background-color: #F2EADF;}
.contactbutton {padding: 9px 25px;
  background-color: #F26835;
  color: #F2EADF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  }

/* SHOP PAGE*/


  .shopgallery {
    text-align: center;
    height: 100%;
    background-color: #F2EADF;
    padding: 75px 150px;}

  .shopcontainer {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    text-align: center;}

  .shopimage {
    opacity: 1;
    width: 85%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;}

  .middle {
    transition: .5s ease;
    opacity: 0;
    transform: translate(0%, -150%);
    -ms-transform: translate(-25%, -25%);
    text-align: center;}

  .shopcontainer:hover .shopimage {
    backdrop-filter: blur(10px);
          filter: blur(4px);
          transition: 0.5s ease;
          padding: 0;
          margin: 0;}

  .shopcontainer:hover .middle {
    opacity: 1;
}

  .shoptext {
    color: #022619;
    font-size: 16px;
    padding: 16px 32px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;}

.comingsoon {
  text-align: center;
  color: #022619;}


/*GALLERY PAGE*/

.secgallery {
  background-color: #F2EADF;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 150px;
  padding-right: 150px;
  }

.row {
  display: table-row;
  text-align: center;}

.row > .column {
  padding: 8px 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 48%;
  vertical-align: baseline;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #F2EADF;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #F2EADF;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 30%;
  max-height: 300px;

}

/* The Close Button */
.close {
  color: #BF935E;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #F26835;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #BF935E;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -15%;
  border-radius: 3px 0 0 3px;}

  .prev {right: 105%}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #F26835;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #022619;
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: #022619;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*CONTACT PAGE*/

input {
width:100%;
padding: 12px;
margin: 15px 0px;
box-sizing: border-box;
background-color: #4F5940;
color: #F2EADF;
border-radius: 10px;
border-color: #F2EADF;
border-width: 0px;
font-family: 'Red Hat Display', sans-serif;
font-size: 20px;
font-weight: 400;
font-color: #F2EADF}

.formcontainer {text-align: center; padding: 75px 75px;}

.placeholder {color: #4F5940 }


.name, .surname{width: 47%; float: left;}
.name {margin-right: 6%;}

.textarea {
  padding-bottom: 250px;
  padding-top: 20px;
  margin: 15px 0px;
  height: 50px}


.sendbutton
  {
  background-color: #F26835;
  color: #F2EADF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-bottom: 0px}

.sendbutton:hover {background-color: #BF935E}


/*Documentation page*/

.docheadline {height: 75vh}
.downloadbutton {
background-color: #F26835;
color: #F2EADF;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
margin-bottom: 0px}

.downloadbutton:hover {background-color: #BF935E}

.secabstract, .secCS{padding-left: 50%; background-color: #F2EADF;}
.secPMP, .secabstract, .secCS {padding: 75px 75px;}
.textabstract, .textCS {text-align: left;}
.textPMP {text-align: left;}

.wireframes {
  height: 100%;
  width: 100%}
.wireframes img {
  width: 50%;
float: right;
padding: 25px;}




  /* Mobile Version*/
  @media all and (max-width: 1200px) {
  .titletext {
    width: 100%;
    text-align: center;
    padding-bottom: 0px}
  body {height: auto;}

  .icons {display: none}

  nav {display: none}

  .nav__links {display: none;}
  .hamburger{
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 80px;
    right: 60px;}

  .hamburger span {
    background: #ECEBE4;
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 5px}

  h1, h2, h3, p {text-align: center;}
  h1 {font-size: 40px}
  h2 {font-size: 36px}
  h3 {font-size: 16px}
  h1 {padding-top: 0px}
  p {font-size: 20px; margin: 50px 0px;}

  header {background: linear-gradient(0deg, rgba(0,0,0,.1), rgba(0,0,0, 0.9)),
   url('images/bandmobile.png') no-repeat center center;
   background-size: cover;
  height: 60vh}

  .headline {height: 60vh; padding-left: 30%; padding-right: 30%; text-align: center; width:100%; display: block; justify-content: center;}

  .homeheadline {    height: 60vh;
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
    width: 100%;
    display: block;
    justify-content: center;}

  .eventtitle {font-size: 28px}
  .instrument {margin: 0}
  .instrumentermes {margin: 0; color: #4F5940;}
  section {text-align: center; display: block; padding: 75px 25px;}

  .sec1, .sec2, .sec3, .sec4, .news, .gallery {text-align: center; padding: 75px 75px; display: block;}
  .image1, .image2, .image3, .image4 {padding-left: 0px; padding-right: 0px; background-attachment: scroll; background-size: contain;}


  .image1 {background: url('images/music.jpg') no-repeat center center; background-attachment: scroll; background-size: contain; min-width: 100%; width: 100%; height: 40vh}
  .image2 {background: url('images/band.png') no-repeat 0% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}

  .imageband1 {background: url('images/band.png') no-repeat 100% 50%; background-attachment: fixed; background-size: contain; min-width: 50%; width: 50%}
  .imageband2 {background: url('images/00gotti.jpeg') no-repeat center center; background-attachment: scroll; background-size: contain; min-width: 100%; width: 100%; height: 50vh; margin-bottom: 25px}
  .imageband3 {background: url('images/00ermes.jpeg') no-repeat center center; background-attachment: scroll; background-size: contain; min-width: 100%; width: 100%; height: 50vh; margin-top: 25px}
  .imageband4 {background: url('images/00max.jpeg') no-repeat center center; background-attachment: scroll; background-size: contain; min-width: 100%; width: 100%; height: 50vh; margin-bottom: 25px}

  .image3 {background: url('images/sfondo.jpg') no-repeat center center; background-attachment: scroll; background-size: contain; min-width: 100%; width: 100%; height: 50vh}

  .text3, .text4 {width: 100%; padding: 0px}
  .text1, .text2 {width: 100%; padding: 0px}


  iframe {
    max-width: 100%;
    margin-bottom: 50px;}

.logo {padding-left: 50%; padding-right: 50%}

  img {float: none; width: 100%}
  button {margin-top: 15px}

.menuicon {
  position: fixed;
  top: 95vh;
  right: 10%;}
  .orangebutton {margin-bottom:0px; padding: 0px}
  .goldbutton{margin-bottom: 75px;  margin-top: 0px}
  .puntini {padding-bottom: 0px}


 /*mobMusic PAGE*/
 .songlist {text-align:left}
 .space {height: 75px}


  /*mobEvents PAGE*/
  table {

    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
  }

  /*mobShop PAGE*/
  .shopgallery {height: 100%; padding: 0px}
  .shopcontainer {float: none; align-items: center; width: 100%; }
  .shopimage {padding-left: 0px; width: 100%}
    .middle {
      opacity: 1;
      transform: translate(0%, -150%);
      -ms-transform: translate(-25%, -25%);
      text-align: center;}
      .shopcontainer:hover .middle {
        opacity: 0;
    }

    .shoptext {
      color: #022619;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      width: 100%;}

      /*mobGallery PAGE*/
    .row {display: block; width: 100%; padding-bottom: 75px}
    .column {width: 100%;}

    /*mobContact PAGE*/
    .formcontainer {height: 100%}
    .sendbutton {margin-right: 0%; margin-top: 75px}
    .input {margin: 50px 0px}
